.idea
__pycache__
src/porous_media.egg-info/
.tox/
.cache/
.coverage
coverage.xml

# results
results

# raw data
data/simliva
data/iri_flux_study_0/
data/spt
data/2023_09_SPP2311_SimLivA.pptx
data/spt_substrate_scan/
data/spt_zonation_patterns/
